# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
**/venv/

# Environment Variables
.env
**/.env

# VS Code
.vscode/

# macOS
.DS_Store

# Docker Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.secret.yaml
